.about-box {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  font-family: "PT Serif", serif;
  color: white;
  font-size: 1.3rem;
}

.description {
  background-color: white;
  border: solid black 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-family: "PT Serif", serif;
  margin-bottom: 100px;
}

.github-link {
  margin-top: 50px;
  font-size: 1.5rem;
  color: blue;
  text-decoration: none;
  transition-duration: 500ms;
}

.github-link:hover {
  transform: scale(1.15);
}
