* {
  margin: 0px;
}

header {
  display: flex;
  width: 100%;
  color: green;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.reezy-title {
  font-family: "Cinzel", serif;
}

header > span {
  display: flex;
  margin-left: 30px;
}

header > nav {
  width: 10%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.header-nav > a {
  text-decoration: none;
  color: rgb(130, 130, 235);
  font-family: "Josefin Sans", sans-serif;
}

.header-nav > a:hover {
  opacity: 70%;
  color: green;
  transform: scale(1.1);
}

.card-box {
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  margin-bottom: 8%;
  padding: 1% 1% 5% 1%;
}

.title {
  text-decoration: underline;
  text-align: center;
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.description > p {
  width: 100%;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-family: "PT Serif", serif;
}

.image-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  justify-content: center;
}

.user-image {
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
  width: 70%;
  height: 90%;
}

.info-section {
  background-color: rgb(211, 208, 208);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
  font-family: "Cormorant Garamond", serif;
}

.info-quantity {
  width: 50%;
  padding-left: 20px;
  display: flex;
}

.info-time {
  display: flex;
  width: 50%;
  padding-left: 20px;
}

.quantity-img {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.clock-img {
  width: 17px;
  height: 17px;
  margin-right: 8px;
}

.list-items {
  font-size: 1.4rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.list-headers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.list-ingredients {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  line-height: 3.5rem;
  font-size: 1.5rem;
}

.list-ingredients > ul {
  list-style-type: circle;
  font-family: "PT Serif", serif;
}

.instruction-box {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  display: flex;
  width: 80%;
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Josefin Sans", sans-serif;
}

.instruction-box > ol {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
  font-family: "PT Serif", serif;
}

.search-box {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.search-box > button {
  background-color: rgb(130, 130, 235);
  border-radius: 20px;
  height: 40px;
  width: 200px;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
}

.search-box > button:hover {
  opacity: 80%;
  border: black 1px solid;
}

.search-box > button > a {
  color: white;
  text-decoration: none;
}

.search-box > form > label {
  font-size: 2rem;
  font-family: "PT Serif", serif;
}

.search-box > form > input {
  background-color: whitesmoke;
  border-radius: 20px;
  border-style: none;
  border: black 1px solid;
  height: 30px;
  width: 300px;
  color: #333;
  text-align: center;
  font-size: 1.5rem;
  font-family: "PT Serif", serif;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  line-height: 2rem;
}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Cinzel", serif;
  width: 30%;
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

.footer-nav > a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

.footer-nav > a:hover {
  opacity: 80%;
  transform: scale(1.1);
}

.form-box {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.form-box > h1 {
  padding: 15px;
  font-family: "Josefin Sans", sans-serif;
}

.input {
  width: 80%;
  height: 35px;
  font-size: 1.4rem;
  font-family: "PT Serif", serif;
  margin-top: 30px;
}

.description-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.description-box > h3 {
  font-size: 1.5rem;
  font-family: "PT Serif", serif;
}

.title-input {
  margin-bottom: 30px;
}

.description-textarea {
  width: 80%;
  height: 80%;
  padding: 15px;
  resize: none;
}

.info-box-a {
  margin-top: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-box-a > input {
  height: 27px;
  width: 42%;
  font-family: "PT Serif", serif;
  font-size: 1.2rem;
}

.spoon-container {
  width: 90%;
  /* height: 90%; */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  margin: 30px 0px 30px 0px;
}

.search-input-home {
  width: 200px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  font-family: "Josefin Sans", sans-serif;
}
