.home-body {
  background-color: green;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 10px;
  margin-bottom: 150px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  height: 70vh;
  border-radius: 5px;
}

.welcome-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4rem;
}

.welcome-section > h1 {
  font-size: 3rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.welcome-section > h4 {
  color: #333;
  font-size: 2rem;
  font-family: "PT Serif", serif;
}

.recipe-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-image: url("https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg");
  background-size: cover;
  height: 60%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid #333 2px;
}

.recipe-btn-container > a {
  width: 40%;
  height: 100px;
  cursor: pointer;
}

.recipe-btn-container > a > button {
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  background-color: rgb(130, 130, 235);
  height: 100%;
  width: 100%;
}

.recipe-btn-container > a:hover {
  opacity: 90%;
  transform: scale(1.05);
}
